<!DOCTYPE html>
<html>
  <head>
    <title>SmartHome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
    <style="text/css"> 

  </head>
  <body>
    {% include 'navigationBar.html' %}
    <div class ="container">
      {% block body %}{% endblock %}
         {% include 'msgg.html' %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

  </body>
</html>
